
# Ignore all __pycache__ folders and their contents
__pycache__/
**/__pycache__/

# Ignore constants.py anywhere in the repo
constants.py
**/constants.py

venv/

/build/
/dist/
*.spec
__pycache__/

scheduled_sms.db